<!DOCTYPE html>
<html>
<head>
	<title>Olist Store Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--    app.use("/StaticFiles", express.static('./StaticFiles/'));-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/Olist.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--<nav class="navbar navbar-default">-->
<!--	<div class="container">-->
<!--		<div class="navbar-header">-->
<!--			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">-->
<!--			<span class="sr-only">Toggle navigation</span>-->
<!--	        <span class="icon-bar"></span>-->
<!--	        <span class="icon-bar"></span>-->
<!--	        <span class="icon-bar"></span>-->
<!--			</button>-->
<!--			<a href="OlistHome.html" class="navbar-brand">Olist Store</a>-->
<!--		</div>-->
<!--		<div class="collapse navbar-collapse" id="bs-nav-demo">-->
<!--			<ul class="nav navbar-nav">-->
<!--				<li><a href="Facts.html">Facts</a></li>-->
<!--				<li><a href="#">Contact</a></li>-->
<!--			</ul>-->
<!--			<ul class="nav navbar-nav navbar-right">-->
<!--				<li><a href="#">Sign Up</a></li>-->
<!--				<li><a href="#">Login</a></li>-->
<!--			</ul>-->
<!--	</div>-->


<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="OlistHome.html">Olist Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav vikram">
      <a class="nav-item nav-link active vikram" href="Facts.html">Facts Page <span class="sr-only">(current)</span></a>

    </div>
  </div>
</nav>


<div class="container">
	<div class="jumbotron">
		<h1>Welcome to the Olist Store</h1>
		<h4>Home of Brazilian E-commerce</h4>
	</div>
</div>
		<div class="jumbotron helloworld">
			<div class="container">
				<div class="container">
					<div class="container">
			<h2> <a href="OlistExe.html">Olist Executive</a></h2> </div> </div>
			</div>
		</div>
		<div class="jumbotron helloworld">
			<div class="container">
				<div class="container">
					<div class="container">
			<h2  > <a href="Seller.html">Seller</a></h2></div> </div>
			</div>
		</div>
		<div class="jumbotron helloworld">
			<div class="container">

				<div class="container">
					<div class="container">
			<h2  > <a  href="Customer.html">Customers</a></h2>	</div> </div>
			</div>
		</div>
<!--		<div class="jumbotron helloworld">-->
<!--			<div class="container">-->

<!--				<div class="container">-->
<!--					<div class="container">-->
<!--						<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
<!--    <script type="text/javascript">-->
<!--      google.charts.load('current', {-->
<!--        'packages':['geochart'],-->
<!--        // Note: you will need to get a mapsApiKey for your project.-->
<!--        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings-->
<!--        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'-->
<!--      });-->
<!--      google.charts.setOnLoadCallback(drawRegionsMap);-->

<!--      function drawRegionsMap() {-->
<!--      	let d={{data | safe}}-->
<!--      	console.log(d)-->
<!--		  let res=[]-->
<!--		  res[0]=[d[0][0],d[0][1]]-->
<!--		  for (var i = 1; i < d.length; i++){-->
<!--  			res[i]=['BR-'+d[i][0],d[i][1]]-->
<!--		  console.log(res[i])}-->
<!--		  console.log(res)-->

<!--        var data = google.visualization.arrayToDataTable(res);-->

<!--        var options = {-->
<!--            region: "BR",-->
<!--            displayMode: 'regions',-->
<!--      resolution: 'provinces',-->
<!--            colorAxis: {-->
<!--      colors: ['#f7b0ad', '#ff0000'],-->
<!--                // datalessRegionColor: 'transparent',-->
<!--    }-->
<!--        };-->

<!--        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));-->

<!--        chart.draw(data, options);-->
<!--      }-->
<!--    </script>-->
<!--    <div id="regions_div" style="width:400; height:300"></div>-->
<!--					</div> </div>-->
<!--			</div>-->
<!--		</div>-->

<!--		<div class="jumbotron helloworld">-->
<!--			<div class="container">-->

<!--				<div class="container">-->
<!--					<div class="container">-->
<!--			<h2  > Number of tuples {{tuple_count}}</h2>-->
<!--					</div> </div>-->
<!--			</div>-->
<!--		</div>-->


</body>
</html>